body {
    font-family: sans-serif;
    margin-top: 75px;
    background-color:grey;
    /*background-image:url("https://www.bbcgoodfood.com/sites/default/files/styles/category_retina/public/recipe-collections/collection-image/2013/05/rosewater-raspberry-sponge-cake.jpg?itok=OVpUSQm9"); */
}

#welcome{
    text-decoration:italic;
    background-color:red;
}

#para1 {
    background-image:url("https://www.bbcgoodfood.com/sites/default/files/styles/category_retina/public/recipe-collections/collection-image/2013/05/rosewater-raspberry-sponge-cake.jpg?itok=OVpUSQm9");
    font-family: sans-serif;
	margin: 2px;
    border: 25px solid navy;
    padding:50px;
    /*background-color:grey;*/
    text-align: center;
    color: red;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

