body {
    font-family: sans-serif;
    margin-top: 75px;
    background-image: url("http://www.wikihow.com/images/b/b4/2627945-20.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

